button {
    background-color: lightsalmon;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 15px;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 2px 2px 3px lightsalmon;
}

#box1, #box2 {
    align-content: center;
    background: lightsalmon;
    border-radius: 25px;
    display: block;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 95%;
}

p {
    color: white;
}