.content-section {
  margin-left: auto;
  background: #fafafa;
  color: #121212;
}

.form-group {
    text-align: left;
/*     padding-left: 20px;
    padding-right: 20px; */
}

.submit {
    text-align: center;
}

.btn {
    color: #9CC4FE;
    border-color: #9CC4FE;
}

.btn-outline-primary:hover {
    border-color: #9CC4FE;
    background-color: #9CC4FE;
    color: #fafafa;
}

p a {
    color: #9CC4FE;
}

/* h1 {
    color: #333333;
} */