/*Please note this file for css for medications. Did not want to get it mixed up with the main css*/
.button{
    
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-heading{
    background-color: #008CBA;
    align-items: center;
    font-size: 32px;
}