{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='eventsResults.css') }}">
<h2>{{ subtitle }}</h2>
    <p>{{ text }}</p>
    {%for key in data%}
        <div class="organization-card">
            <h3>{{data[key]['name']}}</h3>
            <img src={{data[key]['image']}} alt='Event' class='card-img'>
            <p>Date: {{data[key]['date']}} </p>
            <a href= {{data[key]['url']}} target="_blank">Click Here for more Info</a>
          </div>
    {%endfor%}
{% endblock content %}