{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <h1>Welcome to <br>BORED</h1>
    <div id="box1">
        <p>Bored out of your mind? Need some fun in your life?<br>Then you're at the right place!</p>
    </div>
    <br>
    <form action="signup.html" method="get">
        <a href="/signup"><button class="button" type="button">Get Started</button></a>
    </form>
<!--     <div id="box2">
       carousel/ blocks of games available
    </div> -->
{% endblock content %}