{% extends "layout.html" %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movietv.css') }}">
<head>
    <style>
        body{
            font-family: 'Montserrat', sans-serif;
        }
    .trivia{
        text-align: center;
    }
        .forms{
            background-color: #FFA366;
            display: flex;
            justify-content: center;
            border-radius: 25px;
        }
        .subtitle{        
        text-align: center;
        }
</style>
</head>
<section class="movietv">
<div class = "title">
    <div class="subtitle">
    <h1>Get Watch Suggestions Based on What's Trending Now!</h1>
        <br/>
</div>
</div>
</section>

<section>
    <div class="forms">
    <form method="POST" action="" style="margin: 35px">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
        <div class="form-group">
                {{ form.filmType.label(class="form-control-label") }}
                {% if form.filmType.errors %}
                    {{ form.filmType(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                     {% for error in form.filmType.errors%}
                         <span>{{error}}</span>
                     {% endfor %}
                    </div>
                {% else %}
                    {{ form.filmType(class="form-control form-control-lg") }}
                {% endif %}
        </div>
                {{ form.trendType.label(class="form-control-label") }}
                {% if form.trendType.errors %}
                    {{ form.trendType(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.trendType.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
               {% else %}
                   {{ form.trendType(class="form-control form-control-lg") }}
               {% endif %}
                <br/>
                <div class="submit">
                    {{ form.submit(class="button") }}
                </div>  
            </fieldset>
        </form>
    </div>
</section>

{% endblock content %}
