{% extends "layout.html" %}
{% block content%}
<head>
    <style>
        body{
           font-family: 'Montserrat', sans-serif;
        }
    .trivia{
        text-align: center;
    }
        .forms{
            /*background-color:lightgoldenrodyellow*/;
            display: flex;
            justify-content: center;
        }
        .subtitle{        
        text-align: center;
        }
</style>
</head>
<section class="trivia">
<div class = "title">
    <h1>Trivia!</h1>
    <div class="subtitle">
    <h3>Ready to sharpen your mind? Or do you want to learn something new today?</h3>
        <br/>
    <h6>Choose a catergory and start playing!</h6>
        <br/>
</div>
    </div>
</section>

<section>
    <div class="forms">
    <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
        <div class="form-group">
                {{ form.number_of_questions.label(class="form-control-label") }}
                {% if form.number_of_questions.errors %}
                    {{ form.number_of_questions(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                     {% for error in form.number_of_questions.errors%}
                         <span>{{error}}</span>
                     {% endfor %}
                    </div>
                {% else %}
                    {{ form.number_of_questions(class="form-control form-control-lg") }}
                {% endif %}
        </div>
                <br/>
                {{ form.category.label(class="form-control-label") }}
                {% if form.category.errors %}
                    {{ form.category(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.category.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
               {% else %}
                   {{ form.category(class="form-control form-control-lg") }}
               {% endif %}
               <br>
                {{ form.difficulty.label(class="form-control-label") }}
                {% if form.difficulty.errors %}
                    {{ form.difficulty(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.difficulty.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
               {% else %}
                   {{ form.difficulty(class="form-control form-control-lg") }}
               {% endif %}
                <br/>
                {{ form.types.label(class="form-control-label") }}
                {% if form.types.errors %}
                    {{ form.types(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.types.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
               {% else %}
                   {{ form.types(class="form-control form-control-lg") }}
               {% endif %}
                <br/>
                <div class="submit">
                    {{ form.submit(class="button") }}
                </div>  
            </fieldset>
        </form>
    </div>
</section>

{% endblock content %}

