{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='trivia.css') }}">
<h2>{{ subtitle }}</h2>
    <p>{{ text }}</p> 
<form action="/triviaAns" method ="POST">
    {%for key in data%}
    <div class="organization-trivia-card">
            <h3>{{data[key]['question']}}</h3>
            {% if data[key]['type'] == 'multiple' %}
        
                <label for="1">
                <input type="radio" id = "1" value="{{data[key]['options'][0]}}" name="{{key}}" required/>
                {{data[key]['options'][0]}}</label><br>
  
                <label for="2">
                <input type="radio" id = "2" value="{{data[key]['options'][1]}}" name="{{key}}" required/>
                {{data[key]['options'][1]}}</label><br>
                <label for="3">
                <input type="radio" id = "3" value="{{data[key]['options'][2]}}" name="{{key}}" required/>
                {{data[key]['options'][2]}}</label><br>
                <label for="4">
                <input type="radio" id = "4" value="{{data[key]['options'][3]}}" name="{{key}}" required/>
                {{data[key]['options'][3]}}</label><br>
            {% else %}
                <label for="True">
                <input type="radio" id = "True" value="{{data[key]['options'][0]}}" name="{{key}}" required/>
                True</label><br>
                <label for="False">
                <input type="radio" id = "False" value="{{data[key]['options'][1]}}" name="{{key}}" required/>
                False</label><br>
            {% endif %} 
         </div>
    {%endfor%}
    <div class="form-group">
        <input type="submit" value="Submit"/>
          </div>
    
 </form>
{% endblock content %}
