{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='trivia.css') }}">
<h2>{{ subtitle }}</h2>
    <p>{{ text }}</p> 
<form action="/triviaAns" method ="POST">
    {%for key in data%}
    <div class="organization-trivia-card">
            <h3>{{data[key]['question']}}</h3><br/>
        
            {% if data[key]['type'] == 'multiple' %}
        <label for="1" class="Radio">
                <input type="radio" id = "1" value="{{data[key]['options'][0]}}" name="{{key}}" style="margin-right: 20px" required/>
                {{data[key]['options'][0]}}<br/></label>
        
        <label for="2" class="Radio">
               <input type="radio" id = "2" value="{{data[key]['options'][1]}}" name="{{key}}" style="margin-right: 20px" required/>
               {{data[key]['options'][1]}}<br/></label>
        
        <label for="3" class="Radio">
                <input type="radio" id = "3" value="{{data[key]['options'][2]}}" name="{{key}}" style="margin-right: 20px" required/>
                {{data[key]['options'][2]}}<br/></label>
        
        <label for="4" class="Radio">
                <input type="radio" id = "4" value="{{data[key]['options'][3]}}" name="{{key}}" style="margin-right: 20px" required/>
            {{data[key]['options'][3]}}<br/></label>
            {% else %}
        <label for="True" class="Radio">
                <input type="radio" id = "True" value="{{data[key]['options'][0]}}" name="{{key}}" style="margin-right: 20px" required/>
                True<br/></label>
        
        <label for="False" class="Radio">
                <input type="radio" id = "False" value="{{data[key]['options'][1]}}" name="{{key}}" style="margin-right: 20px" required/>
                False<br/></label>
            {% endif %}
            </div>
    {%endfor%}
    <div class="form-group">
        <input type="submit" value="Submit"/>
          </div>
    
 </form>
{% endblock content %}
